#home {
	background: url(../img/bg-masthead.jpg) no-repeat center center fixed;
  	background-size: cover;
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	padding-top: 8rem;
    padding-bottom: 8rem;
   	margin-bottom: 0;
  	text-align: center;
}

#search {
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: black;
    padding-top: 0.8rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
}

.container-custom {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.container-custom-about {
  padding-right: 64px!important;
  padding-left: 64px!important;
}

.btn-custom {
	color: #ffff;
	background-color: black;
}

.btn-size {
	padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .1rem;
}

.btn-navbar {
	padding: .5rem 1rem;
    font-size: 0.7rem;
    line-height: 1;
    border-radius: .1rem;

}

.icon-custom {
  padding-left: 36px;
  font-size: 0.8rem;
}

.margin-top-20 {
	margin-top: 20px;
}

.padding-32 {
	padding: 32px!important;
}

.padding-0 {
	padding: 0rem 0rem!important;
}

.box {
	/*opacity: 0.7;
	filter:alpha(opacity=70); */
	border-radius: 1px;
	margin-top : 20px; 
}

.color {
	color: #000!important;
    background-color: #fff!important;
}

.form-control-custom {
	padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .1rem;
}

#about {
	padding-top : 80px;
  	padding-bottom: 50px;
}

/*detilTA*/
.container-tab-nav {
  padding-left: 110px!important;
  padding-right: 110px!important;
  padding-top: 50px!important;
}

#abstrak {
  padding-top: 30px;
}

.p-margin {
  margin-bottom: 1px!important;
}

.icon-red {
  color: red;
  padding-top: 0px!important;
}

#penulis {
  padding-top: 30px;
}

#dosenPembimbing {
  padding-top: 30px;
}

