body {
    font-family: 'Ruda', sans-serif;
    font-size: 13px;
}

#home {
	  background: url(../img/bg-classroom.jpg) no-repeat center center fixed;
  	background-size: cover;
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	padding-top: 8rem;
    padding-bottom: 8rem;
   	margin-bottom: 0;
  	text-align: center;
}

.overlay {
    background: #304352;
    background-size: cover;
    opacity: 0.9;
    position: absolute;
    padding-bottom: 8rem;
    margin-bottom: 0;
    text-align: center;
}

.bg-navbar {
    background: #ffc600!important;
    border-top: 1px solid #fff!important;
}

.bg-navbar-top {
    background: #07294e!important;
    color: #fff!important;
    border-bottom: 1px solid #fff!important;
}

.font-style {
    font-size: 20px!important;
    color: #ffffff!important;
    float: left!important;
    text-transform: uppercase!important;
}

.font-style-menu {
    color: #ffffff!important;
    float: left!important;
}

.font-style-author {
    color: #000!important;
    font-size: 12px;
}

.font-style-detil {
    color: #000!important;
    font-size: 11px;
}

#search {
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #07294e;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0;
}

.container-custom {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.container-custom-about {
  padding-right: 64px!important;
  padding-left: 64px!important;
}

.btn-custom {
	color: #07294e;
	background: #ffc600;
}

.btn-custom-big {
  color: #fff;
  background: #ffc600;
  margin-bottom: 15px;
}

.btn-size {
	padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .1rem;
}

.btn-navbar {
	padding: .5rem 1rem;
    font-size: 0.7rem;
    line-height: 1;
    border-radius: .1rem;

}

.icon-custom {
  padding-left: 36px;
  font-size: 0.8rem;
}

.margin-top-20 {
	margin-top: 20px;
}

.padding-32 {
	padding: 32px!important;
}

.padding-0 {
	padding: 0rem 0rem!important;
}

.box {
	/*opacity: 0.7;
	filter:alpha(opacity=70); */
	border-radius: 1px;
	margin-top : 0px; 
}

.color {
	color: #000!important;
    background-color: #07294e!important;
}

.form-control-custom {
	padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .1rem;
}

#about {
	padding-top : 50px;
  padding-bottom: 50px;
}

#konsentrasi {
  padding-top : 50px;
  padding-bottom: 50px;
}

.box-title {
  background-color: #07294e;
  color: #fff;
}

/*detilTA*/
.container-tab-nav {
  padding-left: 110px!important;
  padding-right: 110px!important;
  padding-top: 50px!important;
}

#abstrak {
  padding-top: 30px;
}

.p-margin {
  margin-bottom: 1px!important;
}

.icon-red {
  color: red;
  padding-top: 0px!important;
}

#penulis {
  padding-top: 30px;
}

#dosenPembimbing {
  padding-top: 30px;
}

/*daftarTA*/
.container-add {
  padding-left: 250px!important;
  padding-right: 250px!important;
  padding-top: 50px!important;
}

.font-style-author-dta {
    color: #000!important;
    font-size: 14px;
}

.font-style-detil-dta {
    color: #807f7f!important;
    font-size: 12px;
}

.bg-heading {
    background-color: #07294e;
    color: #fff!important;
    padding: 10px;
}



